import React from 'react';
{{#if wantInterface}} import type { ReactNode } from 'react';{{/if}}
import './{{pascalCase name}}.css';

{{#if wantInterface}}
export interface I{{pascalCase name}}Props {
  children?: ReactNode;
}
{{/if}}

const {{pascalCase name}}: React.FC{{#if wantInterface}}<I{{pascalCase name}}Props>{{/if}} = ({{#if wantInterface}}{ children }{{/if}}) => {
  return (
    <div className="{{dashCase name}}">
      {{#if wantInterface}}
      {children}
      {{else}}
      {{pascalCase name}} Component
      {{/if}}
    </div>
  );
};

export default {{pascalCase name}};